=render 'shared/side'

.contents
 
  .chat 
    .chat--header
      .chat--header-__name__box
        .chat--header__name   
          #{@group.name}
        %ul.chat--header__member 
          member: 
          - @group.users.each do |user|   
            =user.name
      .chat--header__edit
        =link_to 'Edit', edit_group_path(@group)
        
    .chat--message  
      = render @messages
    .chat--form
      .chat--form--input--box
        =form_for [@group,@message] do |f|
          =f.text_field :text,class:'chat--form--input--box__text',placeholder:"type a message"
          .chat--form__mask
            = f.label :image, class: 'chat--form--input--box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'chat--form--input--box__image__file'
          = f.submit 'Send', class: 'chat--form__submit'